@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply !outline-none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .v-collapse {
    transition: height 300ms cubic-bezier(0.33, 1, 0.68, 1);
  }

  label.required {
    @apply after:ml-0.5 after:text-red-600 after:content-['*'];
  }
}
